<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gpay</title>
    <link rel="stylesheet" href="./gpay.css" />
  </head>
  <body>
    <h1>Gpay Coupon scratch</h1>
    <section>
      <div class="cupon">
        <div class="text">
          <h3>Better luck</h3>
          <h3>next time</h3>
        </div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
        <div class="box" onmouseover="remove(event)"></div>
      </div>

      <button onclick="removeall()">Skip</button>
    </section>

    <script src="./gpay.js"></script>
  </body>
</html>
