<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsvie Template</title>
    <link rel="stylesheet" href="./Index.css" />
  </head>
  <body>
    <h1>Grid</h1>
    <section class="grid">
      <div>1</div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
        consectetur ullam nostrum illum possimus eveniet aperiam deserunt, nemo
        doloremque a provident laboriosam optio omnis, explicabo placeat ea
        accusantium cum, neque distinctio maiores! Porro qui fugit nesciunt
        natus deserunt nam dolorem? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Illo consectetur ullam nostrum illum possimus eveniet
        aperiam deserunt, nemo doloremque a provident laboriosam optio omnis,
        explicabo placeat ea accusantium cum, neque distinctio maiores! Porro
        qui fugit nesciunt natus deserunt nam dolorem? Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Illo consectetur ullam nostrum illum
        possimus eveniet aperiam deserunt, nemo doloremque a provident
        laboriosam optio omnis, explicabo placeat ea accusantium cum, neque
        distinctio maiores! Porro qui fugit nesciunt natus deserunt nam dolorem?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
        consectetur ullam nostrum illum possimus eveniet aperiam deserunt, nemo
        doloremque a provident laboriosam optio omnis, explicabo placeat ea
        accusantium cum, neque distinctio maiores! Porro qui fugit nesciunt
        natus deserunt nam dolorem?
      </div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
      <div>6</div>
      <div>7</div>
      <div>8</div>
      <div>9</div>
      <div>10</div>
    </section>
  </body>
  <script src="./Index.js"></script>
</html>
